<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd">

    <!-- 数据库连接池数据源 -->
    <!--定义数据源及数据连接池 -->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource"
          init-method="init" destroy-method="close">
        <!-- 驱动名称 -->
        <property name="driverClassName" value="${dataSource.driverClassName}" />
        <!-- JDBC连接串 -->
        <property name="url" value="${dataSource.url}" />
        <!-- 数据库用户名称 -->
        <property name="username" value="${dataSource.username}" />
        <!-- 数据库密码 -->
        <property name="password" value="${dataSource.password}" />
        <!-- 初始化大小(连接数) -->
        <property name="initialSize" value="${dataSource.pool.initialSize}"/>
        <!-- 连接池最小空闲(连接数) -->
        <property name="minIdle" value="${dataSource.pool.minIdle}"/>
        <!-- 连接池最大使用连接数量 -->
        <property name="maxActive" value="${dataSource.pool.maxActive}"/>
        <!-- 获取连接最大等待时间，单位：毫秒 -->
        <property name="maxWait" value="60000"/>
        <!-- 逐出连接的检测时间间隔，单位：毫秒 -->
        <property name="timeBetweenEvictionRunsMillis" value="3000"/>
        <!-- 最小逐出时间，单位：毫秒 -->
        <property name="minEvictableIdleTimeMillis" value="300000"/>
        <!-- 测试有效用的SQL Query -->
        <!--<property name="validationQuery" value="SELECT 'x'"/>-->
        <!--oracle测试-->
        <property name="validationQuery" value="SELECT 'x' FROM DUAL"/>
        <!-- 连接空闲时测试是否有效 -->
        <property name="testWhileIdle" value="true"/>
        <!-- 获取连接时测试是否有效 -->
        <property name="testOnBorrow" value="false"/>
        <!-- 归还连接时是否测试有效 -->
        <property name="testOnReturn" value="false"/>
    </bean>
</beans>